<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProjectBankingApplication</display-name>
  <welcome-file-list>
    <welcome-file>Homepagework.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewAccount</display-name>
    <servlet-name>NewAccount</servlet-name>
    <servlet-class>newacctount.NewAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccount</servlet-name>
    <url-pattern>/NewAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Balance</display-name>
    <servlet-name>Balance</servlet-name>
    <servlet-class>Balancecheck.Balance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Balance</servlet-name>
    <url-pattern>/Balance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositFrom</display-name>
    <servlet-name>DepositFrom</servlet-name>
    <servlet-class>Deposit.DepositFrom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositFrom</servlet-name>
    <url-pattern>/DepositFrom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>Withdrawform.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transformform</display-name>
    <servlet-name>Transformform</servlet-name>
    <servlet-class>transform.Transformform</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transformform</servlet-name>
    <url-pattern>/Transformform</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClosingAccount</display-name>
    <servlet-name>ClosingAccount</servlet-name>
    <servlet-class>closingAccount.ClosingAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClosingAccount</servlet-name>
    <url-pattern>/ClosingAccount</url-pattern>
  </servlet-mapping>
</web-app>